*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin-left: 10%;
    padding: 3rem;
}

.title {
    width: 100%;
    padding: 5rem;
    text-align: center;
    font-size: 5rem;
    color: royalblue;
}

.image__holder {
    width: 100%;
    height: 10rem;
    position: relative;
}

.img__1 {
    width: 80rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    width: 100%;
    font-size: 2.5rem;
    position: absolute;
    top: 100%;
}

.title__2 {
    margin-bottom: 2rem;
}

.image__holder-1 {
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}

.img__2 {
    width: 40%;
    height: 40rem;
    position: absolute;
    top: 130%;
    transition: 1s;
}

.img__3 {
    width: 40%;
    height: 40rem;
    position: absolute;
    top: 150%;
    left: 30%;
    margin-bottom: 3rem;
    transition: 1s;
}

.img__4 {
    width: 40%;
    height: 40rem;
    position: absolute;
    top: 140%;
    left: 50%;
    transition: 1s;
}

.img__2:hover {
    z-index: 2;
    border: 1.5rem solid royalblue;
    top: 125%;
}

.img__3:hover {
    z-index: 2;
    border: 1.5rem solid royalblue;
    /* top: 145%; */
}

.img__4:hover {
    z-index: 2;
    border: 1.5rem solid royalblue;
    top: 135%;
}